div#form {
	border: 5px solid blue;
	margin: auto;
	width: 50%;
}

div#entries {
	margin: auto;
}

h1 {
	font-family: E;
}

.background {
	background-color: cornflowerblue;
}

.entrybox {
	padding: 20px;
	border-radius: 18px;
	border: 8px solid #0B0B3B;
	margin: auto;
	width: 50%;
	background-color: #A9D0F5;
}

.imgzentriert {
	text-align: center;
}

.card {
	margin-bottom: 2em;
}

.card-title {
	margin-bottom: 0;
}

.date {
	font-size: 0.8em;
}

blockquote {
	margin: 0;
}

form#form {
	padding: 0 1.25em;
}